*,
*::before,
*::after {
    box-sizing: border-box;
}

.none {
    display: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
}

/* Block page scroll */
body:has(.backdrop.is-open) {
    overflow: hidden;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;

    /* outline: 1px solid #2e2f42;
    outline-offset: -2px; */
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

.section {
    padding: 120px 0;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

/* btn */
.btn {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    margin: 0 auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
    background-color: #404bbf;
}

/* btn-close */
.btn-close {
    position: absolute;
    top: 24px;
    right: 24px;

    background-color: #e7e9fc;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
    color: #2e2f42;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0;
}

.btn-close-icon {
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover,
.btn-close:focus {
    background-color: #404bbf;
    color: #fff;
    border: none;
}

/* #region HEADER */

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    /* display: flex;
    align-items: center; */
}

@media screen and (min-width: 768px) {
    .header-container {
        display: flex;
        align-items: center;
    }
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo {
    padding: 16px 0;
}

@media screen and (min-width: 768px) {
    .header-logo {
        padding: 24px 0;
        margin-right: 120px;
    }
}

@media screen and (min-width: 1158px) {
    .header-logo {
        margin-right: 76px;
    }
}

.header-logo .logo-part {
    color: #2e2f42;
}

/* Nav */
.nav-list {
    display: none;
}

@media screen and (min-width: 768px) {
    .nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }
}

.nav-item {}

.nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.active {
    position: relative;
    color: #404bbf;
}

.nav-link.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

/* contacts */
.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-list {
    display: none;
}

@media screen and (min-width: 768px) {
    .contacts-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }
}

@media screen and (min-width: 1158px) {
    .contacts-list {
        flex-direction: row;
        gap: 40px;
    }
}

.contacts-item {}

.contacts-link {
    display: block;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 1158px) {
    .contacts-link {
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

/* #endregion */

/* #region Hero */
.hero {
    background: #2e2f42;
    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/bg_people-office.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
    padding: 188px 0;
    display: flex;
    text-align: center;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin-bottom: 48px;
}

/* #endregion*/

/* #region About */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.about {}

.about-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.about-item {
    width: calc((100% - 3 * 24px) / 4);
}

.about-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
}

.about-icone {}

.about-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.about-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* #endregion */

/* #region Team */
.team {
    background: #f4f4fd;
}

.team-list {
    display: flex;
    align-items: center;
    gap: 24px;
}

.team-item {
    width: calc((100% - 24px * 3) / 4);
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.team-user {
    object-fit: cover;
}

.user-info {
    padding: 32px 0;
}

.user-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.user-prof {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.user-socials {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.user-item {
    width: 40px;
    height: 40px;
}

.user-linc {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-linc:hover,
.user-linc:focus {
    background-color: #404bbf;
}

.user-linc-icon {
    fill: #f4f4fd;
}

/* #endregion*/

/* #region Portfolio */
.portfolio {}

.portfolio-list {
    display: flex;
    gap: 48px 24px;
    flex-wrap: wrap;
}

.portfolio-item {
    width: calc((100% - 24px * 2) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    cursor: pointer;
}

.portfolio-item:hover .portfolio-overlay {
    transform: translateY(0);
}

.portfolio-wrapper {
    position: relative;
    overflow: hidden;
}

.portfolio-img {}

.portfolio-overlay {
    background-color: #4d5ae5;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-info {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
}

.portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* #endregion*/

/* #region Footer */
.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-container-logo {
    margin-right: 120px;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo .logo-part {
    color: #f4f4fd;
    line-height: 1.17;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

/* social */
.footer-socials {
    margin-right: 80px;
}

.footer-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-list {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.footer-item {
    width: 40px;
    height: 40px;
}

.footer-linc {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-linc:hover,
.footer-linc:focus {
    background-color: #31d0aa;
}

.footer-linc-icon {
    fill: #f4f4fd;
}

/* FOOTER  SUBSCRIBE*/
.footer-subscribe {}

.footer-title {}

.footer-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.footer-form-label {}

.footer-form-input {
    border: 1px solid #ffffff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    background-color: transparent;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    outline: transparent;
    padding-left: 16px;

    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-input:focus {
    border-color: #31d0aa;
}

.footer-btn {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    min-width: 165px;
    height: 40px;
}

.footer-btn:hover,
.footer-btn:focus {
    background-color: #31d0aa;
}

.footer-btn-icon {
    margin-left: 16px;
    fill: #fff;
}

/* #endregion*/

/* #region Modal */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
    transition-delay: 0ms;
}

.modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
        0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.caption {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-form {}

.modal-form-field {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 8px;
}

.modal-form-label {
    display: block;
    margin-bottom: 4px;
}

.modal-form-wrapper {
    position: relative;
    margin-bottom: 8px;
}

.modal-form-input {
    display: block;
    width: 100%;
    height: 40px;
    padding: 8px 16px 8px 38px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
}

.modal-form-input:focus {
    border-color: #4d5ae5;
}

.modal-form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus+.modal-form-icon {
    fill: #4d5ae5;
}

.modal-textarea {
    margin-bottom: 16px;
}

.modal-form-message {
    padding: 8px 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    resize: none;
}

.modal-form-message:focus {
    border-color: #4d5ae5;
}

/* checked */
.form-agreement {
    margin-bottom: 24px;
}

.checkbox {}

.agreement-wrapper {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.agreement-checkbox {
    height: 16px;
    width: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    margin-right: 8px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    color: transparent;
    cursor: pointer;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement-checkbox-icon {
    fill: currentColor;
}

input[type='checkbox']:checked+.agreement-wrapper>.agreement-checkbox {
    background-color: #404bbf;
    color: #fff;
    border: none;
    fill: #f4f4fd;
}

.agreement-link {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.button-modal {
    /* min-width: 165px;
    height: 40px; */
}

/* #endregion*/

/* mobile Menu */
/* #region mobile Menu*/
.burger-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 24px;
    width: 24px; */
    padding: 16px 0;
    background-color: transparent;
    border: none;
}

.burger-btn-icone {
    stroke: #2f2f37;
}

@media not (hover: hover) {
    .burger-btn:active .burger-btn-iconer {
        stroke: #404bbf;
    }
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }
}


.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
    transition-delay: 0ms;
}

.mobile-menu-container {
    position: relative;
    padding: 72px 24px 40px 16px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu .btn-close {
    background-color: transparent;
    fill: #2e2f42;
}


.mobile-menu .btn-close:active {
    background-color: #404bbf;
    color: #2e2f42;
    border: none;
}

.btn-close-icon {}

.mabile-menu-nav {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: auto;
}

.mabile-menu-item {}

.mabile-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.mabile-menu-link.active {
    color: #404bbf
}

.active {}

.mabile-contacts {
    font-style: normal;
}

.mabile-menu-contacts {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
}

.mabile-menu-contacts-item {}

.mabile-menu-contacts-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.mabile-menu-contacts-link:hover,
.mabile-menu-contacts-link:active {
    color: #4d5ae5;
}

.mabile-menu-socials {}

.mabile-menu-list {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.mabile-menu-item {
    width: 40px;
    height: 40px;
}

.mabile-menu-linc {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mabile-menu-linc-icon {
    fill: #f4f4fd;
}

/* #endregion mobile Menu*/

.footer-list {}

.footer-item {}

.footer-linc {}

.footer-linc:hover,
.footer-linc:focus {
    background-color: #31d0aa;
}

.footer-linc-icon {
    fill: #f4f4fd;
}

/* #region */
/* #endregion*/